<!-- Navigation -->
<nav class="navbar navbar-light navbar-custom">
	<button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#MenuBar">
		&#9776;
	</button>
	<div class="">
		<a class="navbar-brand" v-link="{ path: '/home' }">Disciple.Ding Blog</a>
		<ul class="nav navbar-nav pull-xs-right collapse navbar-toggleable-xs" id="MenuBar">
			<li class="nav-item">
				<a class="nav-link" v-link="{ path: '/home' }">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" v-link="{ path: '/about' }">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" v-link="{ path: '/posts/private-npm-server' }">Latest Post</a>
			</li>
		</ul>
	</div>
</nav>