@import "~@/assets/scss/variables.scss";

// Post Preview Pages
.post-list{
  list-style: none;
  padding: 0;

  .post-preview {
    .title-link {
      color: $gray-dark;
      &:hover,
      &:focus {
        text-decoration: none;
        color: $brand-primary;
      }
      .post-title {
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 10px;
      }
      .post-subtitle {
        margin-bottom: 10px;
        font-weight: 300;
      }
    }
    .post-meta {
      color: $gray;
      display: inline-block;
      font-size: 18px;
      font-style: italic;
      line-height: 1.25;
      margin: 0;
      .tag-link {
        text-decoration: none;
        color: $gray;
        &:hover,
        &:focus {
          color: $brand-primary;
          text-decoration: underline;
        }
      }
    }
    @media only screen and (min-width: 768px) {
      .title-link {
        .post-title {
          font-size: 36px;
        }
      }
    }
  }
}