<ul class="post-list">
	<li v-for="(post, index) of postList" track-by="index">
		<div class="post-preview">
			<router-link class="title-link" :to="{ path: '/posts/' + post.name }">
				<h2 class="post-title">{{ post.title }}</h2>
				<h3 class="post-subtitle">{{ post.subtitle }}</h3>
			</router-link>
			<p class="post-meta">
				<span v-for="(tag, index) of post.tags" track-by="index">
					<span v-if="index > 0">, </span>
					<router-link class="tag-link" :to="{ path: '/tags/' + tag.name }">{{tag.label}}</router-link>
				</span><br>Posted on {{ post.createdDate }}<br>
				<span class="disqus-comment-count" :data-disqus-identifier="post.name"></span>
			</p>
		</div>
		<hr>
	</li>
</ul>