@import "variables.scss";

// Global Components

body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 20px;
  color: $gray-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

a img {
  &:hover,
  &:focus {
    cursor: zoom-in;
  }
}

blockquote {
  color: $gray;
  font-style: italic;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

// Contact Form Styles

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid $gray-light;
  input,
  textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    box-shadow: none !important;
    resize: none;
  }
  label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    vertical-align: baseline;
    opacity: 0;
    transition: top 0.3s ease,opacity 0.3s ease;
  }
  &::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid $gray-light;
  }
}

.floating-label-form-group-with-value {
  label {
    top: 0;
    opacity: 1;
  }
}

.floating-label-form-group-with-focus {
  label {
    color: $brand-primary;
  }
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid $gray-light;
}

// Button Styles

.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.btn-default {
  &:hover,
  &:focus {
    background-color: $brand-primary;
    border: 1px solid $brand-primary;
    color: white;
  }
}

// Pager Styling

.pager {

  margin: 20px 0 0;

  li {
    > a,
    > span {
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 1px;
      padding: 15px 25px;
      background-color: white;
      border-radius: 0;
    }

    > a:hover,
    > a:focus {
      color: white;
      background-color: $brand-primary;
      border: 1px solid $brand-primary;
    }
  }

  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      color: $gray;
      background-color: $gray-dark;
      cursor: not-allowed;
    }
  }
}

// -- Highlight Color Customization

::selection {
  color: white;
  text-shadow: none;
  background: $brand-primary;
}

img::selection {
  color: white;
  background: transparent;
}

body {
  webkit-tap-highlight-color: $brand-primary;
}