.post-content{
  font-family: 'Lora', 'Times New Roman', serif, "Microsoft YaHei";
  font-size: 18px;

  p{
    line-height: 1.5;
    margin: 1rem 0;
  }

  pre{
    padding: 1rem;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  img{
    max-width: 92.5%; // fix img too large bug
  }

  blockquote{
    p{
      margin: 0;
    }
  }

  table{
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    border-left: none;

    th,
    td{
      padding: 6px;
      border-top: 1px solid #dddddd;
      border-left: 1px solid #dddddd;
    }
  }
}