<section>
	<!-- Content Header -->
	<post-header :board-img="headerUrl" :title="post.title" :sub-title="post.subtitle"
	             :tags="post.tags" :created-date="post.createdDate"></post-header>
	<!-- Post Content -->
	<article class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-content" v-html="post.content"></div>
		</div>
		<div class="row">
			<div id="disqus_thread" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"></div>
		</div>
		<div class="row">
			<pager class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" :prev="prev" :next="next"></pager>
		</div>
	</article>
</section>