<article property="blogPost" typeof="BlogPosting">
	<span typeof="ImageObject" property="image">
		<meta :content="headerUrl" property="url">
		<meta content="1366" property="width">
		<meta content="768" property="height">
	</span>
	<span typeof="Person" property="author">
		<meta content="Disciple.Ding" property="name">
	</span>

	<post-header :board-img="headerUrl" :title="post.title" :subtitle="post.subtitle"
	             :tags="post.tags" :created-time="post.createdTime"></post-header>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-content" v-html="post.content" property="articleBody"></div>
		</div>
		<div class="row">
			<div id="disqus_thread" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"></div>
		</div>
		<div class="row">
			<pager class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" :prev="prev" :next="next"></pager>
		</div>
	</div>
</article>