<nav class="navbar navbar-light navbar-custom" :class="{ 'is-visible': isVisible, 'is-fixed': isFixed }">
	<button class="navbar-toggler pull-xs-right hidden-md-up" type="button" @click="toggleNavShown()"> &#9776; </button>
	<div>
		<router-link class="navbar-brand" to="/" property="url" exact>
			<span property="alternateName">Disciple.Ding Blog</span><meta property="name" content="D.D Blog">
		</router-link>
		<ul class="nav navbar-nav pull-md-right" v-show="isShowList" transition="nav-expand">
			<li class="nav-item" v-for="item of navList">
				<router-link class="nav-link" v-if="item.path" :to="{ path: item.path}" exact>{{ item.title }}</router-link>
				<span class="nav-link" v-else-if="typeof item.event === 'function'" @click="item.event">{{ item.title }}</span>
			</li>
		</ul>
	</div>
</nav>
