@import "../../assets/scss/variables.scss";

// Post Preview Pages
.post-list{
  list-style: none;
  padding: 0;

  .post-preview {
    > a {
      color: $gray-dark;
      &:hover,
      &:focus {
        text-decoration: none;
        color: $brand-primary;
      }
      > .post-title {
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 10px;
      }
      > .post-subtitle {
        margin: 0 0 10px 0;
        font-weight: 300;
      }
    }
    > .post-meta {
      color: $gray;
      font-size: 18px;
      font-style: italic;
      line-height: 1.2;
      margin-top: 0;
      > a {
        text-decoration: none;
        color: $gray-dark;
        &:hover,
        &:focus {
          color: $brand-primary;
          text-decoration: underline;
        }
      }
    }
    @media only screen and (min-width: 768px) {
      > a {
        > .post-title {
          font-size: 36px;
        }
      }
    }
  }
}